[Unit]
Description=2squared

[Service]
ExecStart=/home/odroid/2squared/run.sh
ExecStop=/bin/pkill java
Restart=always

[Install]
WantedBy=multi-user.target
