[Unit]
Description=fadecandy

[Service]
ExecStart=/home/odroid/fadecandy/bin/fcserver-osx /home/odroid/2squared/config.json
Restart=always

[Install]
WantedBy=multi-user.target
